[submodule "src/benchmarks/benchmark"]
	path = src/benchmarks/benchmark
	url = https://github.com/google/benchmark
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
