*.suo
*.sln.docstates
*.ilk
*.lib
*.exp
*.pdb
*.aps
*.sdf
*.opensdf
*.opendb
*.7z
*.obj
*.idb
*.ipdb
*.iobj
*.tlog
*.log
*.exe

x12lib.sln
dx11.csv
dx12.csv

.vs/
bin/
build/engine/Editor/x64
err_compile.shader
x64/
obj/
build/
resources/tests_out/*.png




